.App {
    display: flex;
    width: 100%;
    align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Lato', sans-serif;
    background: #fafafa;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #03256C;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
  position: fixed;
  z-index: 999;
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
}


.sidebar-header {
  background: #03256C;
}

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.menu-open {
  background: #1768AC;
}

.nav-item:hover {
    color: #03256C;
    background: #C4CBD1;
}

.items-menu {
  color: #fff;
  background: #1768AC;
}

li a.dropdown-toggle::after {
    display: inline-flex;
    position: absolute;
    left: 80%;
    margin-top: 3%;
}

.sidebar-header > span {
    position: relative;
    float: right;
    margin: .5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.side-menu {
  height: calc(100vh - 16vh);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #b8c8d4;
  border-radius: 3px;
}

.submenu-open {
  background: #1768AC;
}

.submenu-open:hover {
  color: #03256C;
  background: #C4CBD1;
}

.submenu-active {
  color: #03256C;
  background: #C4CBD1;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 0px;
  margin-left: 0;
  height: 100vh;
  transition: all 0.5s;
  
}
.content.is-open {
  margin-left: 100%;
  margin-left: 250px;
  height: 100vh;
  transition: all 0.5s;
}

@media only screen and (max-width: 500px) {
    body {
      overflow:  hidden;
    }

    .content.is-open {
      margin-left: 100%;
      margin-left: 0;
      height: 100vh;
    }

    .sidebar.is-open {
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      transition: all 0.5s, height 0s;
    }

    .sidebar.is-open > .sidebar-header span{
      display: unset;
    }

    li a.dropdown-toggle::after {
        display: inline-flex;
        position: absolute;
        left: 80%;
    }
}
