.nav-item.nav-link{
    border-width:initial;
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.nav-item.nav-link.active{
    background-color: #03256C;
    color: #C4CBD1;
    border-color: #C4CBD1;
}
.nav-item.nav-link{
    background-color: #ffffff;
    color: #03256C;
    border-color: #C4CBD1;
}