svg.MuiStepIcon-root.MuiStepIcon-active {
    color: #03256C;
}

.stepTitle {
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 100%;
}

.stepCheck {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 1rem;
}

.stepCheckUnderline {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 1rem;
    text-decoration-line: underline;
}

.stepContainer {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 2rem;
}

.stepFinal {
    text-align: center;
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 1.2rem;
}